@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes underline {
  to {
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes back-icon {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-0.25em);
  }
}
