// COLORS
$--black-coffee: #302621ff;
$--text-white: #fff;
$--text-black: #202020;
$--xanadu: #73877b;
$--periwinkle-crayola: #c6d8ff;
$--byzantium: #72195a;
$--tart-orange: #f0544f;

// SIZES
$--baseline-width: clamp(50vw, 100em, 95vw);
$--form-width: clamp(20vw, 40em, 95vw);

// FONTS
$--default-text: clamp(1rem, 1vw, 2rem);
$--default-header: clamp(1.5rem, 2vw, 3rem);
