// COLORS
$--black-coffee: #302621ff;
$--gold-crayola: #ebc79eff;
$--queen-blue: #48639cff;
$--fire-engine-red: #c1292eff;
$--text-white: #fff;
$--text-black: #202020;

$--tyrian-purple: #5f0f40;
$--tart-orange: #f0544f;
$--linen: #f2e5d7;
$--dark-jungle-green: #071108;
$--bdazzled-blue: #345995;
$--white-bg: #fff;

// SIZES
$--baseline-width: clamp(50vw, 100em, 95vw);
$--form-width: clamp(20vw, 40em, 95vw);

// FONTS
$--default-text: clamp(1rem, 1vw, 2rem);
$--default-header: clamp(1.5rem, 2vw, 3rem);
