@import "variables";
@import "keyframes";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
}

html {
  font-family: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
  touch-action: manipulation;
  line-height: 1.5;
  background: $--text-white;
}

pre {
  font-family: inherit;
  font-size: inherit;
  max-width: 100ch;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: $--default-text;
  color: $--text-black;
}

.app-heading {
  color: $--byzantium;
  font-family: "Playfair Display", serif;
  font-size: $--default-header;
}

.navigation {
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: $--text-white;
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.4);

  .navigation-wrapper {
    display: flex;
    place-items: center;
    justify-content: space-between;
    width: $--baseline-width;
    padding: 0 0.5em;
  }

  .navigation-logo {
    font-family: "Playfair Display", serif;

    z-index: 4;
  }

  .navigation-desktop {
    display: flex;
    gap: 0.5em;
    @media (max-width: 768px) {
      display: none;
    }

    .navigation-desktop__link {
      text-decoration: none;
      text-transform: lowercase;
      cursor: pointer;
      color: $--text-black;
      // padding: 0.5em 0.75em;
      // display: inline-block;
      display: flex;
      place-items: center;
      gap: 0.25em;
    }
  }

  .navigation-mobile {
    display: none;
    gap: 1em;
    background: $--text-white;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0.1em 0.1em 0.5em $--periwinkle-crayola;

    .navigation-mobile__link {
      text-decoration: none;
      color: $--text-black;
      font-size: $--default-header;
      display: flex;
      place-items: center;
      gap: 0.25em;
    }
  }

  .blob-1,
  .blob-2 {
    position: absolute;
    z-index: -2;
    fill: $--byzantium;
    opacity: 0.9;
  }

  .blob-1 {
    bottom: -15em;
    left: -10em;
  }

  .blob-2 {
    top: -15em;
    right: -10em;
  }

  .burger {
    display: none;
    z-index: 4;
    gap: 0.35em;
    flex-direction: column;
    cursor: pointer;
    .bar {
      width: 2.5em;
      height: 0.15em;
      background: $--black-coffee;
      transition: 0.4s;
    }

    :nth-child(2) {
      width: 1.75em;
    }

    :nth-child(3) {
      width: 1.75em;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }

  .open {
    display: flex;
  }
}

.form-header {
  font-size: $--default-header;
  color: $--xanadu !important;
}

.burger-open {
  :nth-child(1) {
    transform: rotate(45deg) translate(0.1em, 0.95em);
  }

  :nth-child(2) {
    opacity: 0;
  }

  :nth-child(3) {
    opacity: 0;
  }

  :nth-child(4) {
    transform: rotate(-45deg) translate(0.2em, -1em);
  }
}

form,
input,
label,
textarea {
  display: block;
}

abbr {
  text-decoration: none;
}

.navigation-home {
  a {
    color: $--xanadu;
    text-decoration: none;
  }
}

.form-wrapper {
  margin: auto;
  position: relative;
  background: transparent;
  width: $--form-width;
  border-radius: 0.5em;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.login-form {
  display: grid;
  gap: 2em;

  label {
    margin: 0.5em 0;
    text-transform: capitalize;
    color: $--byzantium;
    font-weight: 600;
  }

  input {
    border: none;
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.15);
    color: $--text-black;
    background: $--text-white;
    padding: 0.75em 0.5em;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    &:focus {
      outline: 0.15em solid $--xanadu;
    }
  }

  button {
    place-self: end;
  }

  textarea {
    resize: none;
    width: 100%;
    font-family: inherit;
    background: $--text-white;
    outline: none;
    border: none;
    box-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.15);
    padding: 0.75em 0.5em;
    color: $--text-black;
    font-size: $--default-text;

    &:focus {
      outline: 0.15em solid $--xanadu;
    }
  }
}

.form-error-modal {
  p {
    font-weight: 300;
    color: $--text-black;
    position: relative;
    // width: max-content;
    max-width: 100%;
    // word-wrap: break-word;

    &::before {
      position: absolute;
      bottom: 0;
      width: 0;
      content: "";
      height: 0.1em;
      background: $--tart-orange;
      animation: underline 0.5s ease-in-out forwards 0.25s;
    }
  }
}

.account-modal {
  color: $--text-black;
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-decoration: underline dotted;
    text-underline-offset: 0.3em;
  }
}

.login-modal {
  text-align: center;
  color: $--text-black;
  transform: scale(1, 0);
  transition: 0.25s ease-in-out;
  transform-origin: top;
  padding: 0.5em 0.75em;
  outline: 0.15em solid $--tart-orange;
  border-radius: 0.25em;
  // width: 100%;
  // place-self: start;
  a {
    text-decoration: underline $--tart-orange 0.15em;
    text-underline-offset: 0.3em;
    display: inline-block;
    color: $--text-black;
    font-weight: 400;
  }
}

.cog,
.back-icon {
  transition: all 0.25s ease-in-out;
}

.cog-turn {
  transform: rotate(20deg);
}

.no-blogs-modal {
  padding: 0.5em;

  h2 {
    font-weight: 400;
    font-size: $--default-header;
  }

  a {
    font-size: $--default-text;
    color: $--byzantium;
  }
}

.login {
  background: $--periwinkle-crayola;
  border-radius: 0.15em;
  padding: 0.25em 0.5em;
}

.logged-in {
  background: transparent;
  outline: 0.15em solid $--tart-orange;
  // color: $--text-white !important;
}

.app-main {
  width: $--baseline-width;
  margin: auto;
  min-height: calc(100vh + 5em);
  padding: 5em 0;
  animation: fade-in 0.5s ease-in-out;
}

.add-new-blog {
  display: grid;
  place-items: center;
  min-height: 50vh;
}

.about {
  min-height: 100vh;
  display: grid;
  place-items: center;
  header {
    text-align: center;
    color: $--text-black;
    font-family: "Playfair Display", serif;
  }

  p {
    color: $--text-black;
  }
}

.blog-list-home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  gap: 2em 2em;
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.app-main__blog {
  border-radius: 0.25em;
  width: $--baseline-width;
  display: grid;
  gap: 1em;
  place-items: start;
  min-height: calc(30vh + 5em);
  padding: 0.5em;
}

.app-main__blog--controls {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.control-container,
.actions-container {
  display: flex;
  flex-flow: row wrap;
}

.actions-container {
  transform: scale(1, 0);
  width: 100%;
  justify-content: space-between;
  transition: transform 0.25s ease-in-out;
  transform-origin: top;
  flex-flow: column wrap;
  place-items: flex-end;
}

.show-actions,
.show-modal {
  transform: scale(1, 1);
}

.single {
  display: grid;
  place-items: center;
}

.blog-snippet {
  max-width: 100%;
  border-radius: 0.25em;
  display: grid;
  gap: 1em;
  padding: 1em 0.5em;
  box-shadow: 0.1em 0.2em 0.5em rgba(0, 0, 0, 0.4);

  .blog-snippet__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .blog-snippet__author {
    display: flex;
    place-items: center;
    justify-content: flex-start;
    gap: 1em;
    background: lighten($--periwinkle-crayola, 7%);
    font-size: inherit;
    .blog-snippet__author--name {
      color: $--byzantium;
    }

    .blog-snippet__author--time {
      color: $--text-black;
      font-style: italic;
    }
  }

  .blog-snippet__title {
    font-family: "Playfair Display", serif;
    text-transform: lowercase;
    font-size: $--default-header;
    word-wrap: break-word;
    color: $--byzantium;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .blog-snippet__summary {
    color: $--text-black;
  }

  .app-main__blog-content {
    color: $--text-black;
  }
}

.loading-component {
  width: 3em;
  height: 3em;
  border: 0.15em solid;
  border-radius: 50%;
  border-top: 0.15em solid;
  border-color: $--tart-orange transparent;
  animation: spin 1.25s linear infinite;
}

// buttons stack

.buttons {
  place-self: end;
  display: flex;
  gap: 1em;
}

.button-default {
  outline: none;
  border: none;
  background: transparent;
  text-transform: lowercase;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  background: transparent;
  font-size: $--default-text;
  font-family: inherit;
  cursor: pointer;
  color: $--text-black;
  text-decoration: none;
  min-width: 12ch;
  text-align: center;
}

.edit {
  background: $--periwinkle-crayola;
  outline: 0.15em solid $--periwinkle-crayola;
}

.delete {
  color: $--text-white;
  background: $--tart-orange;
  outline: 0.15em solid $--tart-orange;
}

.back {
  place-self: flex-start;
  outline: 0.15em solid $--black-coffee;

  &:hover {
    .back-icon {
      animation: back-icon 0.35s ease-in-out infinite alternate;
    }
  }
}

.details {
  text-align: center;
  background: $--periwinkle-crayola;
  border: none;
  text-underline-offset: 0.1em;
  color: $--text-black;
}

.submit {
  background: $--periwinkle-crayola;
  outline: 0.15em solid $--periwinkle-crayola;
}

.cancel {
  background: transparent;
  outline: 0.15em solid $--byzantium;
  color: $--text-black;
}

.options {
  outline: 0.15em solid $--black-coffee;
}

// buttons stack

// helper classes

.overflow-hidden {
  overflow: hidden;
}

// helper classes

footer {
  display: grid;
  place-items: center;
  padding: 0.5em;
  background: $--byzantium;
  header {
    h2 {
      color: $--text-white;
      font-weight: 300;
    }
  }
}
