@import "variables";
@import "keyframes";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  // scrollbar-color: $--tart-orange $--text-black;
}

html {
  font-family: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
  touch-action: manipulation;
  line-height: 1.5;
  background: $--white-bg;
}

pre {
  font-family: inherit;
  font-size: inherit;
  max-width: 100ch;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: $--default-text;
  color: $--dark-jungle-green;
}

.app-heading {
  color: $--tart-orange;
  font-family: "Playfair Display", serif;
}

.navigation {
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: $--white-bg;
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.4);

  .navigation-wrapper {
    display: flex;
    place-items: center;
    justify-content: space-between;
    width: $--baseline-width;
    padding: 0 0.5em;
  }

  .navigation-logo {
    font-family: "Playfair Display", serif;
    color: $--tart-orange;
    z-index: 4;
  }

  .navigation-desktop {
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }

    .navigation-desktop__link {
      text-decoration: none;
      text-transform: lowercase;
      cursor: pointer;
      color: $--text-black;
      padding: 0.5em 0.75em;
    }
  }

  .navigation-mobile {
    display: none;
    gap: 1em;
    background: $--white-bg;
    // background: $--dark-jungle-green;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0.1em 0.1em 0.5em $--periwinkle-crayola;

    // &::before {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   inset: 0;
    //   border: 0.5em solid $--tyrian-purple;
    //   // background: rgba(0, 0, 0, 0.5);
    //   z-index: -2;
    // }

    .navigation-mobile__link {
      text-decoration: none;
      color: $--text-black;
      font-size: $--default-text;
    }
  }

  .blob-1,
  .blob-2 {
    position: absolute;
    z-index: -2;
    fill: $--byzantium;
    opacity: 0.9;
    // transform: scale(0.8);
  }

  .blob-1 {
    bottom: -10em;
    left: -10em;
  }

  .blob-2 {
    top: -10em;
    right: -10em;
  }

  .burger {
    display: none;
    z-index: 4;
    gap: 0.35em;
    flex-direction: column;
    cursor: pointer;
    .bar {
      width: 2.5em;
      height: 0.15em;
      background: $--dark-jungle-green;
      transition: 0.4s;
    }

    :nth-child(2) {
      width: 1.75em;
    }

    :nth-child(3) {
      width: 1.75em;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }

  .open {
    display: flex;
  }
}

.burger-open {
  :nth-child(1) {
    transform: rotate(45deg) translate(0.2em, 1em);
  }

  :nth-child(2) {
    opacity: 0;
  }

  :nth-child(3) {
    opacity: 0;
  }

  :nth-child(4) {
    transform: rotate(-45deg) translate(0.2em, -1em);
  }
}

form,
input,
label,
textarea {
  display: block;
}

label {
  color: $--tart-orange;
}

abbr {
  text-decoration: none;
}

.navigation-home {
  a {
    color: $--xanadu;
    text-decoration: none;
  }
}

.form-wrapper {
  margin: auto;
  position: relative;
  background: $--periwinkle-crayola;
  width: $--form-width;
  border-radius: 0.5em;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.login-form {
  display: grid;
  gap: 2em;

  label {
    margin: 0.5em 0;
    text-transform: capitalize;
  }

  input {
    border-radius: 0.15em;
    border: none;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    background: $--bdazzled-blue;
    color: $--text-white;
    padding: 0.75em 0.5em;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    &:focus {
      outline: 0.15em solid $--tart-orange;
    }
  }

  button {
    place-self: end;
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 0.15em;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: $--text-white;
    background: $--tart-orange;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.4);
  }

  textarea {
    resize: none;
    width: $--baseline-width;
    width: 100%;
    font-family: inherit;
    background: $--bdazzled-blue;
    outline: none;
    border-radius: 0.15em;
    border: 0.15em solid $--tart-orange;
    padding: 0.75em 0.5em;
    color: $--text-white;

    &::placeholder {
      color: $--text-white;
      opacity: 1;
    }
  }
}

.form-error-modal {
  h2 {
    font-weight: 300;
    color: $--text-black;
    position: relative;
    width: max-content;

    &::before {
      position: absolute;
      bottom: 0;
      width: 0;
      content: "";
      height: 0.1em;
      background: $--tart-orange;
      animation: underline 0.5s ease-in-out forwards 0.25s;
    }
  }
}

.account-modal {
  color: $--text-black;
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-decoration: underline $--tart-orange;
    text-underline-offset: 0.3em;
  }
}

.login-modal {
  text-align: center;
  color: $--text-black;

  a {
    text-decoration: none;
    color: white;
    background: $--queen-blue;
    padding: 0.25em 0.5em;
    border-radius: 0.15em;
  }
}

// buttons stack

.buttons {
  place-self: end;
  display: flex;
  gap: 1em;
}

.button-default {
  outline: none;
  background: transparent;
  text-transform: lowercase;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: $--text-white;
  border: 0.1em solid $--tart-orange;
  text-decoration: none;
}

.delete {
  background: $--tart-orange;
}

.details {
  text-align: center;
  background: darken($--tart-orange, 30%);
  background: $--periwinkle-crayola;
  border: none;
  text-underline-offset: 0.1em;
  color: $--text-black;
}

.submit {
  background: $--queen-blue;
  border: none;
}

.cancel {
  background: transparent;
}

// buttons stack

.login {
  // border: 0.1em solid $--tart-orange;
  background: $--periwinkle-crayola;
  border-radius: 0.15em;
  padding: 0.25em 0.5em;
}

.app-main {
  width: $--baseline-width;
  margin: auto;
  min-height: calc(100vh + 5em);
  padding: 5em 0;
  animation: fade-in 0.5s ease-in-out;
}

.add-new-blog {
  display: grid;
  place-items: center;
  min-height: 50vh;
}

.about {
  min-height: 100vh;
  display: grid;
  place-items: center;
  header {
    text-align: center;
    color: $--text-black;
    font-family: "Playfair Display", serif;
  }

  p {
    color: $--text-black;
  }
}

.blog-list-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  gap: 2em 2em;
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.app-main__blog {
  border-radius: 0.25em;
  width: $--baseline-width;
  display: grid;
  gap: 1em;
  place-items: start;
  min-height: calc(30vh + 5em);
  padding: 0.5em;
}

.single {
  display: grid;
  place-items: center;
}

.blog-snippet {
  max-width: 100%;
  border-radius: 0.25em;
  display: grid;
  gap: 1em;
  padding: 1em 0.5em;
  box-shadow: 0.05em 0.15em 0.15em rgba(0, 0, 0, 0.4);

  .blog-snippet__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .blog-snippet__title {
    font-family: "Playfair Display", serif;
    text-transform: lowercase;
    font-size: $--default-header;
    word-wrap: break-word;
    color: $--tart-orange;
    color: $--byzantium;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .blog-snippet__summary {
    color: $--dark-jungle-green;
  }

  .app-main__blog-content {
    color: $--dark-jungle-green;
  }
}

.blog-snippet__buttons {
  display: flex;
  gap: 1em;
  place-items: center;
  justify-content: flex-start;
}

.loading-component {
  width: 3em;
  height: 3em;
  border: 0.15em solid;
  border-radius: 50%;
  border-top: 0.15em solid;
  border-color: $--tart-orange transparent;
  animation: spin 1.25s linear infinite;
}

footer {
  display: grid;
  place-items: center;
  padding: 0.5em;
  background: $--byzantium;
  header {
    h2 {
      color: $--text-white;
      font-weight: 300;
    }
  }
}
