@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes underline {
  to {
    width: 100%;
  }
}

@keyframes underline {
  to {
    width: 100%;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes back-icon {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-0.25em);
            transform: translateX(-0.25em);
  }
}

@keyframes back-icon {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-0.25em);
            transform: translateX(-0.25em);
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
}

html {
  font-family: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  line-height: 1.5;
  background: #fff;
}

pre {
  font-family: inherit;
  font-size: inherit;
  max-width: 100ch;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: clamp(1rem, 1vw, 2rem);
  color: #202020;
}

.app-heading {
  color: #72195a;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0.5em 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.4);
}

.navigation .navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: clamp(50vw, 100em, 95vw);
  padding: 0 0.5em;
}

.navigation .navigation-logo {
  font-family: "Playfair Display", serif;
  z-index: 4;
}

.navigation .navigation-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
}

@media (max-width: 768px) {
  .navigation .navigation-desktop {
    display: none;
  }
}

.navigation .navigation-desktop .navigation-desktop__link {
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
  color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  gap: 0.25em;
}

.navigation .navigation-mobile {
  display: none;
  gap: 1em;
  background: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-shadow: 0.1em 0.1em 0.5em #c6d8ff;
          box-shadow: 0.1em 0.1em 0.5em #c6d8ff;
}

.navigation .navigation-mobile .navigation-mobile__link {
  text-decoration: none;
  color: #202020;
  font-size: clamp(1.5rem, 2vw, 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  gap: 0.25em;
}

.navigation .blob-1,
.navigation .blob-2 {
  position: absolute;
  z-index: -2;
  fill: #72195a;
  opacity: 0.9;
}

.navigation .blob-1 {
  bottom: -15em;
  left: -10em;
}

.navigation .blob-2 {
  top: -15em;
  right: -10em;
}

.navigation .burger {
  display: none;
  z-index: 4;
  gap: 0.35em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.navigation .burger .bar {
  width: 2.5em;
  height: 0.15em;
  background: #302621ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navigation .burger :nth-child(2) {
  width: 1.75em;
}

.navigation .burger :nth-child(3) {
  width: 1.75em;
}

@media (max-width: 768px) {
  .navigation .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-header {
  font-size: clamp(1.5rem, 2vw, 3rem);
  color: #73877b !important;
}

.burger-open :nth-child(1) {
  -webkit-transform: rotate(45deg) translate(0.1em, 0.95em);
          transform: rotate(45deg) translate(0.1em, 0.95em);
}

.burger-open :nth-child(2) {
  opacity: 0;
}

.burger-open :nth-child(3) {
  opacity: 0;
}

.burger-open :nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(0.2em, -1em);
          transform: rotate(-45deg) translate(0.2em, -1em);
}

form,
input,
label,
textarea {
  display: block;
}

abbr {
  text-decoration: none;
}

.navigation-home a {
  color: #73877b;
  text-decoration: none;
}

.form-wrapper {
  margin: auto;
  position: relative;
  background: transparent;
  width: clamp(20vw, 40em, 95vw);
  border-radius: 0.5em;
  padding: 0.5em;
  -webkit-box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
          box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.login-form {
  display: -ms-grid;
  display: grid;
  gap: 2em;
}

.login-form label {
  margin: 0.5em 0;
  text-transform: capitalize;
  color: #72195a;
  font-weight: 600;
}

.login-form input {
  border: none;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.15);
  color: #202020;
  background: #fff;
  padding: 0.75em 0.5em;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.login-form input:focus {
  outline: 0.15em solid #73877b;
}

.login-form button {
  place-self: end;
}

.login-form textarea {
  resize: none;
  width: 100%;
  font-family: inherit;
  background: #fff;
  outline: none;
  border: none;
  -webkit-box-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.15);
          box-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.15);
  padding: 0.75em 0.5em;
  color: #202020;
  font-size: clamp(1rem, 1vw, 2rem);
}

.login-form textarea:focus {
  outline: 0.15em solid #73877b;
}

.form-error-modal p {
  font-weight: 300;
  color: #202020;
  position: relative;
  max-width: 100%;
}

.form-error-modal p::before {
  position: absolute;
  bottom: 0;
  width: 0;
  content: "";
  height: 0.1em;
  background: #f0544f;
  -webkit-animation: underline 0.5s ease-in-out forwards 0.25s;
          animation: underline 0.5s ease-in-out forwards 0.25s;
}

.account-modal {
  color: #202020;
}

.account-modal a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 0.3em;
}

.login-modal {
  text-align: center;
  color: #202020;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  padding: 0.5em 0.75em;
  outline: 0.15em solid #f0544f;
  border-radius: 0.25em;
}

.login-modal a {
  -webkit-text-decoration: underline #f0544f 0.15em;
          text-decoration: underline #f0544f 0.15em;
  text-underline-offset: 0.3em;
  display: inline-block;
  color: #202020;
  font-weight: 400;
}

.cog,
.back-icon {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.cog-turn {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.no-blogs-modal {
  padding: 0.5em;
}

.no-blogs-modal h2 {
  font-weight: 400;
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.no-blogs-modal a {
  font-size: clamp(1rem, 1vw, 2rem);
  color: #72195a;
}

.login {
  background: #c6d8ff;
  border-radius: 0.15em;
  padding: 0.25em 0.5em;
}

.logged-in {
  background: transparent;
  outline: 0.15em solid #f0544f;
}

.app-main {
  width: clamp(50vw, 100em, 95vw);
  margin: auto;
  min-height: calc(100vh + 5em);
  padding: 5em 0;
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
}

.add-new-blog {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 50vh;
}

.about {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.about header {
  text-align: center;
  color: #202020;
  font-family: "Playfair Display", serif;
}

.about p {
  color: #202020;
}

.blog-list-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  gap: 2em 2em;
}

@media (max-width: 768px) {
  .blog-list-home {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.app-main__blog {
  border-radius: 0.25em;
  width: clamp(50vw, 100em, 95vw);
  display: -ms-grid;
  display: grid;
  gap: 1em;
  place-items: start;
  min-height: calc(30vh + 5em);
  padding: 0.5em;
}

.app-main__blog--controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.control-container,
.actions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.actions-container {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  place-items: flex-end;
}

.show-actions,
.show-modal {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.single {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.blog-snippet {
  max-width: 100%;
  border-radius: 0.25em;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  padding: 1em 0.5em;
  -webkit-box-shadow: 0.1em 0.2em 0.5em rgba(0, 0, 0, 0.4);
          box-shadow: 0.1em 0.2em 0.5em rgba(0, 0, 0, 0.4);
}

.blog-snippet .blog-snippet__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.blog-snippet .blog-snippet__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
  background: #eaf0ff;
  font-size: inherit;
}

.blog-snippet .blog-snippet__author .blog-snippet__author--name {
  color: #72195a;
}

.blog-snippet .blog-snippet__author .blog-snippet__author--time {
  color: #202020;
  font-style: italic;
}

.blog-snippet .blog-snippet__title {
  font-family: "Playfair Display", serif;
  text-transform: lowercase;
  font-size: clamp(1.5rem, 2vw, 3rem);
  word-wrap: break-word;
  color: #72195a;
}

.blog-snippet .blog-snippet__title::first-letter {
  text-transform: uppercase;
}

.blog-snippet .blog-snippet__summary {
  color: #202020;
}

.blog-snippet .app-main__blog-content {
  color: #202020;
}

.loading-component {
  width: 3em;
  height: 3em;
  border: 0.15em solid;
  border-radius: 50%;
  border-top: 0.15em solid;
  border-color: #f0544f transparent;
  -webkit-animation: spin 1.25s linear infinite;
          animation: spin 1.25s linear infinite;
}

.buttons {
  place-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.button-default {
  outline: none;
  border: none;
  background: transparent;
  text-transform: lowercase;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  background: transparent;
  font-size: clamp(1rem, 1vw, 2rem);
  font-family: inherit;
  cursor: pointer;
  color: #202020;
  text-decoration: none;
  min-width: 12ch;
  text-align: center;
}

.edit {
  background: #c6d8ff;
  outline: 0.15em solid #c6d8ff;
}

.delete {
  color: #fff;
  background: #f0544f;
  outline: 0.15em solid #f0544f;
}

.back {
  place-self: flex-start;
  outline: 0.15em solid #302621ff;
}

.back:hover .back-icon {
  -webkit-animation: back-icon 0.35s ease-in-out infinite alternate;
          animation: back-icon 0.35s ease-in-out infinite alternate;
}

.details {
  text-align: center;
  background: #c6d8ff;
  border: none;
  text-underline-offset: 0.1em;
  color: #202020;
}

.submit {
  background: #c6d8ff;
  outline: 0.15em solid #c6d8ff;
}

.cancel {
  background: transparent;
  outline: 0.15em solid #72195a;
  color: #202020;
}

.options {
  outline: 0.15em solid #302621ff;
}

.overflow-hidden {
  overflow: hidden;
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0.5em;
  background: #72195a;
}

footer header h2 {
  color: #fff;
  font-weight: 300;
}
